.img-opacity {
  opacity: 0.3;
}

.px-2 {
	padding-left: ($spacer * 5);
	padding-right: ($spacer * 5);
}


.mx-2 {
	margin-left: ($spacer * 5);
	margin-right: ($spacer * 5);
}

.bg-greyishblue {
	background-color: rgb(197, 224, 235);
}

.bg-olive {
	background-color: rgb(198, 214, 188);
}

.thumbnail {
border: 0;
padding: 0;
}

.mr-2 {
  margin-left: ($spacer * .5) !important;
}
